.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}



/* my font size's media query start */
html {
    font-size: 62.5%;
}

@media (min-width:1200px) {
    html {
        font-size: 68.75%;
    }
}

@media (min-width:1000px) {
    html {
        font-size: 68.75%;
    }
}

@media (max-width:992px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width:576px) {
    html {
        font-size: 50%;
    }

}

@media (max-width:440px) {
    /* .calculator {
        width: 31rem !important;
    } */
}

/* my font size's media query end */




/* my targeter start */

html body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my-input{
    border: none;
    outline: none;
    background-color: white;
    border-radius: 1rem;
    padding: .8rem;
    width: 100%;
    font-size: 2rem;
}

.peras{
    color: white;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

/* my DOB targeter end */


.rough {
    border: .1rem solid rgb(255, 255, 255);
}